@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("./IRANSans-Bold-web.eot");
  src: url("./IRANSans-Bold-web.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("./IRANSans-Bold-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./IRANSans-Bold-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./IRANSans-Bold-web.ttf")
      format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("./IRANSans-Medium-web.eot");
  src: url("./IRANSans-Medium-web.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./IRANSans-Medium-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./IRANSans-Medium-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./IRANSans-Medium-web.ttf")
      format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("./IRANSans-Light-web.eot");
  src: url("./IRANSans-Light-web.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("./IRANSans-Light-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./IRANSans-Light-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./IRANSans-Light-web.ttf")
      format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("./IRANSans-web.eot");
  src: url("./IRANSans-web.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("./IRANSans-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./IRANSans-web.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./IRANSans-web.ttf")
      format("truetype");
}
